* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "monrope", sans-serif; 
    font-size: 100%;
    
}

header {
    padding: 1rem;
    margin: 0;
    color: rgb(53, 53, 53);   
    font-size: 3rem; 
    
    .menu {
        .menu-list{
            list-style-type: none;
            margin: 0;
            padding: 0;
            .has-submenu {
                position: relative;
                &:hover {
                    submenu{
                        display: none;
                    }
                }
                    .submenu {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: white;
                        padding: 10px; 
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                        display: block;

                        &:hover{
                           background-color: #f0f0f0;
                        }

                    }
            }
            &:hover {
                display: block; 
            
            }
        }
    }
}


main {
   
    img {
        width: 100%;
    }
    section {
        padding: 1rem;
        margin-top: 1rem;
        h2 {
            font-size: 2.5rem;
            align-items: center;
            color: rgb(53, 53, 53);
            span {
                background-color: sandybrown;
                font-size: rem;
            } 
          
        } 
        p{
            margin-top: 1rem;
            font-size: 1.5rem;
            color: rgb(53, 53, 53);
        }
    }
    button {
         img {
            width: 1rem;
         }
        margin: 1rem;
        background-color: sandybrown;
        border: none;
        color: white;
        padding: 1rem;
        cursor: pointer;
        border-radius: 10px;
    }

    button:hover {
        background-color: rgb(255, 138, 36)
    }


}